:root {
  --font-sans: -apple-system, ".SFNSText-Regular", "San Francisco", "system-ui", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-heading: -apple-system, ".SFNSText-Regular", "San Francisco", "system-ui", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-comic: "Comic Sans MS", "Comic Sans", cursive;
  --font-mono: "Monaco", "Fira Code", monospace;
  --font-serif: Times, serif;
}

html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url("/glassy-ui/bgs/retro-future-01.png") no-repeat center center fixed;
  background-size: cover;
  animation: bg-rotator 40s linear alternate infinite;
  /* 10s per image */
}

@keyframes bg-rotator {
  0% {
    background-image: url("/glassy-ui/bgs/retro-future-01.png");
  }

  33% {
    background-image: url("/glassy-ui/bgs/retro-future-04.png");
  }

  66% {
    background-image: url("/glassy-ui/bgs/retro-future-03.png");
  }

  100% {
    background-image: url("/glassy-ui/bgs/retro-future-02.png");
  }
}

body {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#storybook-root,
#storybook-preview-wrapper {
  padding: 1rem;
  /* background: #ffffff88; */
  /* =100, 200= #FAFAFA */
  /* https://vercel.com/geist/colors */
  border-radius: var(--radius);
  backdrop-filter: blur(20px);
  background-color: var(--background);
  color: var(--foreground);
}

.glass {

  #storybook-root,
  #storybook-preview-wrapper {
    backdrop-filter: blur(20px);
    background-color: color-mix(in sRGB, var(--background) 60%, transparent);
    color: var(--foreground);
  }
}

/* =100, 200= #000000 */
/* https://vercel.com/geist/colors */
/* .dark #storybook-root,
.dark #storybook-preview-wrapper {
  background: #0a0a0a88;
} */

.sbdocs-preview {
  background: var(--background) !important;
  color: var(--foreground) !important;
}

.sb-bar {
  background: var(--background) !important;
  color: var(--foreground) !important;
}
