

.sbdocs-preview {
  background: var(--background) !important;
  color: var(--foreground) !important;
}

.sb-bar {
  background: var(--background) !important;
  color: var(--foreground) !important;
}
